{{!-- 
<form action="/auth/login" method="POST" id="form-container">

  <label for="email">Email</label>
  <input id="email" type="email" name="email" placeholder="Your email">

 

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">
  
  
  <button>Login</button>
</form> --}}
{{!-- --------------bootstramp sign in--------------- --}}

<body>
 <style>
    body {background-color: rgb(235, 235, 235);}
</style>

  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h4 class="card-title text-center">Log in</h4>
            <form action="/auth/login" method="POST" id="form-container" class="form-signin">
              <div class="form-label-group">

                {{!-- Email ------- Log in button --}}
                {{!-- <input id="email" type="email" name="email" placeholder="Your email"> --}}
                <input name="email" type="email" id="email" class="form-control" placeholder="Email address">
                <label for="email">Email</label>
              
              </div>

              <div class="form-label-group">

                {{!-- Password ------- Log in button --}}

                {{!-- <input id="password" type="password" name="password" placeholder="Your password">  --}}
                <input name="password" type="password" id="password" class="form-control" placeholder="Password" required>
                <label for="password" >Password</label>
                
              </div>

              {{!-- <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Remember password</label>
              </div> --}}
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Log in</button>
              <hr class="my-4">
              <button class="btn btn-lg btn-block text-uppercase" type="submit"><a href="https://www.google.com">Log in
                  with Google</a></button>
              <button class="btn btn-lg btn-block text-uppercase" type="submit"><a href="https://www.facebook.com">Log in 
                  with Facebook</a></button>
              {{#if message }}
              <div class="error-message">{{ message }}</div>
              {{/if}}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>