<style>
    body {
      background-color: rgb(235, 235, 235);
      }
</style>

<div class="verify-email">

<p>Your email was successfully verified!</p>
<p>criar botao com route "/index" ou "/login"</p>

</div>