  {{!-- <nav>
  <div class="site-branding col-sm-4">
			<h1 class="site-title">2Cowork</h1>
  </div>
    <ul class="nav justify-content-center">
    {{#if isConnected }}
     <li class="nav-item"></li>
      <a class="nav-link"  href="/auth/logout">Logout</a></li>
    {{else}}
    <li class="nav-item">
      <a class="nav-link" href="/auth/login">Login</a></li>
      <li class="nav-item">
      <a class="nav-link" href="/auth/signup">Signup</a></li>
    {{/if}}
        </a>
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
      </li>
    </ul>

    </nav>
    
-------Send the data to POST /create-space-----------
<form action="/create-space" method="post">
Name: 
<input type="text" name="name" class="form-control"> <br>
Address: 
<input type="text" name="address" class="form-control"> </input><br>
Description: 
<textarea name="description" class="form-control"> </textarea><br>
Amenities: 
<input type="text" name="amenities" class="form-control"> </input><br>
Prices:
<input type="text" name="prices" class="form-control"> </input><br>

Opening hours: 
<input type="text" name="hours" class="form-control"> </input><br>


<section>
  <h2>Upload your photo</h2>
  {{!-When we have a file, we have to add enctype="multipart/form-data"-}}
  <form action="/upload2" method="post" enctype="multipart/form-data">
    <input type="text" name="name"> <br>
    <input type="file" name="photo"> <br>
  </form>
</section>

<button type="submit" class="btn btn-primary">List!</button>
</form> --}}



{{!-- --------------bootstramp Add space-------------- --}}

<body>
  <style>
    body {background-color: rgb(235, 235, 235);}
</style>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-lg-7 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h4 class="card-title text-center">Add your space</h4>
            <form action="/add-space" method="POST" id="form-container" class="form-signin" enctype="multipart/form-data">



              <div class="form-label-group">
                <input name="photo" type="file" id="photo" class="form-control">
                <label for="photo">Photo</label>
              </div>

              <div class="form-label-group">
                <input name="name" type="text" id="name" class="form-control" placeholder="Email address">
                <label for="name">Name</label>
              </div>

               <div class="form-label-group">
                <input name="email" type="email" id="email" class="form-control" placeholder="Email address">
                <label for="email">Enter your email</label>
              </div> 

               <div class="form-label-group">
                <input name="website" type="text" id="website" class="form-control" placeholder="Website">
                <label for="website">Enter your website</label>
              </div> 

              <div class="form-label-group">
                <input name="address" type="address" id="address" class="form-control" placeholder="address" required>
                <label for="address" >Address</label>
              </div>

              <div class="form-label-group">
                <textarea name="description" type="description" id="description" class="form-control" placeholder="Description" rows="10"></textarea>
                <label for="description">Description</label>
              </div>

 {{!--              <div class="form-label-group">
                <input name="amenities" type="text" id="amenities" class="form-control" placeholder="Email address">
                <label for="amenities">Amenities</label>
              </div> --}}

              <div class="form-label-group">
                <input name="prices" type="text" id="prices" class="form-control" placeholder="Email address">
                <label for="prices">Prices</label>
              </div>

              <div class="form-label-group">
                <input name="week_day" type="text" id="week_day" class="form-control">
                <label for="week_day">Opening hours (week days)</label>
              </div>
                <div class="form-label-group">
                <input name="weekend" type="text" id="weekend" class="form-control">
                <label for="weekend">Opening hours (weekend)</label>
              </div>

              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Do it!</button>
             
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>