<style>
  
  body{
    background-color: rgba(235, 235, 235, 0.637);
  }

  p{
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    text-align: center;
    
    }
    strong{
      font-family:'Arimo', sans-serif; 
      font-size:18px;
    }

    h1{
      padding:30px;
      text-align: center;
      text-shadow: 3px 2px 2px rgba(157, 219, 153, 0.3);
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      }

</style>

<br>
<h2>My Coworks</h2>
{{#each coworks}} 
<a href="/cowork-detail/{{_id}}"><ul><li>{{this.name}}</li></ul></a>
{{/each}}


  {{!-- p {
        text-align: center;
        color: darkmagenta;
      } --}}