<<<<<<< HEAD
<style>
    body {
      background-color: rgb(235, 235, 235);}
      
      p {
        text-align: center;
        color: darkmagenta;
      }
</style>
=======
<br>
<h2>My Coworks</h2>
{{#each coworks}} 
<a href="/cowork-detail/{{_id}}"><ul><li>{{this.name}}</li></ul></a>
{{/each}}
>>>>>>> e26a6ee52bdb3931a96d1008cd3c021560f4ad81

<div class="verify-email">

<<<<<<< HEAD
    <p><strong>My Info Page</strong></p><br>
    <p>Name</p><br>
    <p>Address</p><br>
    <p>Description</p><br>
    <p>Amenities</p><br>
    <p>Prices</p><br>
    <p>Opening Hours</p><br>
    <p><strong>Info from Do It button</strong></p>

</div>
=======
>>>>>>> e26a6ee52bdb3931a96d1008cd3c021560f4ad81
