<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h4 class="card-title text-center">Your email was send to the co-working space, wait for a response!</h4>
            <form action="/my-space" method="GET" id="form-container" class="form-signin">
              <div class="form-label-group">
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Back to My Space</button>
              <hr class="my-4">
              {{#if message }}
              <div class="alert alert-danger">{{ message }}</div>
              {{/if}}
              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>