body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

// nav{
//   display: flex;
//   justify-content: space-evenly;  
//   background-color: azure;
// }

.container{
  height: 500px;
  width: 500px;

}