// $primary : black; //para a cor primária na nav-bar . $primary . Tem de ser defenida primeiro.
$primary: rgb(168, 225, 206);
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import './start-bootstrap';


body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: rgb(78, 94, 102);
}

nav {
  display: flex;
  justify-content: space-evenly;
}

.container {
  // display: flex !important;
  flex-direction: row !important;
  text-align: center;
  // justify-content: space-between !important;
}

.account-message {
  text-align: center;
}

.card {
  // justify-content: space-between;
  // display: inline-block !important;
  background-color: (100, 100, 100, 0.5) !important;
}

.card-img-top {
  width: 100%;
  // height: 90%;
}

.carousel{
  height: 100%;
  width: 100%;
}

.new1 {
  border: none !important;
  font-size: 20px;
}
.new2 {
  border: none !important;
  font-size: 12px;
}
.new3 {
  border: none !important;
  font-size: 12px;
}

.card-link {
  margin-left: 20px !important;
}

.comments{
  height: 400px;
  width: 100%;
  background-color: darkgoldenrod;
}

footer{
  padding-top:30px;
  height: 200px;
  background-color: rgb(50, 50, 50);
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  }

.foot-btn a{
  margin-left: 20px;
  display: inline-block;
  // display: flex;
  // flex-direction: column; 
  // justify-content:left;
  color: rgb(168, 225, 206);
}

.foot-btn a:hover{ 
  color:white;
  text-decoration: none;
}

.foot-info{ 
  padding: 30px;
  text-align: center;
}

.image-framework{
  width: 50%;
}

.verify-email{
  width:100%;
  height:450px;
  
} 
.verify-email p{
  margin: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 24px;
  text-align: center;
  color: deeppink;
  
} 