// $primary : black; //para a cor primária na nav-bar . $primary . Tem de ser defenida primeiro.
$primary: rgb(168, 225, 206);
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import './start-bootstrap';


body {
  font: 16px "Arimo", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: rgb(78, 94, 102);
}

nav {
  display: flex;
  justify-content: space-evenly;
}

.container {
  // display: flex !important;
  flex-direction: row !important;
  text-align: center;
  // justify-content: space-between !important;
}

.account-message {
  text-align: center;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
  z-index: -1;
  border: 100px solid red;
}

.card {
  background-color: (100, 100, 100, 0.5) !important;
  border: 10px solid white;
  border-radius: 10px;
  box-shadow: 8px 8px 11px 0px rgba(0, 0, 0, 0.144);
}

.card-img-top {
  width: 100%;
  // height: 90%;
}

.carousel{
  height: 100%;
  width: 100%;
}

.new1 {
  border: none !important;
  font-size: 20px;
}
.new2 {
  border: none !important;
  font-size: 14px;
}
.new3 {
  border: none !important;
  font-size: 14px;
}

.card-link {
  // margin-left: 20px !important;
}
// COMENTARIOS
.comments{
  display: flex;
  height: 400px;
  width: 100%;
  background-color: rgb(235, 235, 235);
}

.centrar{
  align-content: center;
  justify-content: space-between;
  margin: auto;
  padding: 15px;
}

main {
  flex-grow: 1;
}

.foot-btn{
  width: 100%;
  height: 180px;
  background-color: rgb(50, 50, 50);
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  }

  // #footer {
  //   position: relative;
  //   margin-top: -180px;
  //   /* negative value of footer height */
  //   height: 180px;
  //   clear: both;
  //   background-color: red;
  // }

.foot-btn a{
  margin-top: 20px;
  margin-left: 20px;
  display: inline-block;
  color: rgb(168, 225, 206);
}

.foot-btn a:hover{ 
  color:white;
  text-decoration: none;
}

.foot-info{
  margin-left:-40px;
  padding-bottom: 20px;
  text-align: center;
}

.image-framework{
  width: 50%;
  border: 8px solid rgba(255, 255, 255, 0.815);
  border-radius: 20px;
  box-shadow: 8px 8px 11px 0px rgba(0, 0, 0, 0.24);
}
.img-cowork{
  text-align: center;
}

.description{
  align-items: center;
  margin-left: 30%;
  margin-right: 30%;
}

.verify-email{
  width:100%;
  height:500px;
} 
.verify-email p{
  margin: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 24px;
  text-align: center; 
}

// .my-space-detail{
//   font-family: 'Arimo', sans-serif;
//     font-size: 16px;
//     text-align: center;
// }


.page-index {
  #map {
    height: 400px;
  }
}


